#featured-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    Width: 1185px;
    Height: 572px;
    box-sizing: border-box;
}
#featured-products img{
    margin: 0% 15px;
}
#featured-products p{
    font-size: 14px;
    font-weight: 400;
}
#featured-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin:5% 10%;
    gap: 90px;
}
#featured-products-images{
    display: i;
    box-sizing: border-box;
    white-space: nowrap;
    Width: 513px;
    Height: 498px;
}



