#featured-posts-section{
    margin: 8% 10%;
}
#featured-posts-section h2{
    color: #23A6F0;
    font-size: 40px;
    font-weight: 700;
    color: #252B42;
    text-align: center;
}
#featured-posts-section h6{
    color: #23A6F0;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
#featured-posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 6% 10%;
}
.left-post{
    justify-self: end;
}
.post-image{
    position: relative;
    padding: 0;
    width: 209px;
    height: 404px;
    box-sizing: border-box;
    justify-content:center;
    float: left;
    justify-self: end;
}
.post-options{
    position: absolute;
    margin: 0 auto;
    top: 80%;
    right: 12%;
}
.sale{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #E74040;
    box-shadow: 0px 2px 4px black;
    border-radius: 3px;
    Width: 51px;
    Height: 24px;
    position: absolute;
    left: 10%;
    top: 5%;
}

.post-options button{
    display: flex;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    justify-content: space-evenly;
    bottom: 1em;
    z-index: 10;
    border: none;
}
.post-options button :hover{
    cursor: pointer;
}
.featured-post{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    width: 508px;
    height: 404px;
    box-sizing: border-box;

}
.featured-post .price{
    justify-content: left;
}
.featured-post h5{
    font-size: 16px;
    font-weight: 700;
}
.description{
    font-size: 14px;
    font-weight: 400;
    color: #737373;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    vertical-align: middle;
    padding: 0;
}
.list li, .sales-num{
    display: flex;
    margin: 0.5em;
    font-size: 12px;
    color: #737373;
}
.list li p, .sales-num p {
    margin: 0.5em;
    white-space: nowrap; 
}
.colors-list li span{
    border-radius: 50%;
    padding: 8px;
}
.blue {
    background-color: #23A6F0;
}
.green{
    background-color: #23856D;
}
.orange{
    background-color: #E77C40;
}
.black{
    background-color: #252B42;
}

.learn-more-button{
    border-radius: 37px;
    border: 1px solid #23A6F0;
    color: #23A6F0;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
}
.learn-more-button:hover{
    color: white;
    background-color: #23A6F0;
    cursor: pointer;
}
.score-section{
    display: flex;
    justify-content: space-between;
}
.score-section p{
    color: #23A6F0;
    font-size: 14px;
}

.score{
    display: flex;
    background-color: #252B42;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding:0px 0.5em;
}
.score p{
    color: white;
    margin: 0.5em;
    font-size: 12px;
    font-weight: 400;
}