@import url('header.css');
@import url('product_of_the_week.css');
@import url('products.css');
@import url('featured-products.css');
@import url('best-services.css');
@import url('featured_posts.css');
@import url('footer.css');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 700;
}
body{
    overflow:auto;
}
